body { font-family: Tahoma, sans-serif; margin: 0; background: #eee; }
nav { background: #333; color: white; padding: 15px; display: flex; justify-content: space-between; }
nav ul { list-style: none; display: flex; gap: 20px; }
nav a { color: white; text-decoration: none; }

.form-container { width: 50%; margin: 50px auto; background: white; padding: 30px; border-radius: 10px; text-align: center; }
input, textarea { width: 90%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 5px; }
button { width: 100%; padding: 10px; background: #333; color: white; border: none; cursor: pointer; }
#statusMessage { color: red; font-weight: bold; }